In [52]:
import os, math
from IPython.display import Image
import numpy as np
seed = np.random.seed

import pandas as pd

from sklearn.metrics import accuracy_score

In [53]:
seed(1011)
x1_train = np.random.uniform(low=0, high=1, size=20).tolist()
x2_train = np.random.uniform(low=0, high=1, size=20).tolist()
train_data = pd.DataFrame(zip(x1_train,x2_train), columns=["x1","x2"])
train_data["y"] = np.where(train_data["x1"] > train_data["x2"], 1, -1)
train_data

          x1        x2  y
0   0.655681  0.215621  1
1   0.385741  0.739566 -1
2   0.626512  0.671721 -1
3   0.112183  0.467599 -1
4   0.808028  0.146708  1
5   0.477887  0.278590  1
6   0.626538  0.083842  1
7   0.750426  0.062672  1
8   0.992387  0.152381  1
9   0.697413  0.086287  1
10  0.052354  0.052820 -1
11  0.411004  0.662280 -1
12  0.058502  0.192295 -1
13  0.664009  0.915948 -1
14  0.435478  0.363948  1
15  0.803506  0.107274  1
16  0.132545  0.919372 -1
17  0.124349  0.989848 -1
18  0.782855  0.880675 -1
19  0.493490  0.336670  1

In [54]:
seed(10112)
x1_test = np.random.uniform(low=0, high=1, size=1000).tolist()
x2_test = np.random.uniform(low=0, high=1, size=1000).tolist()
test_data = pd.DataFrame(zip(x1_test,x2_test), columns=["x1","x2"])
test_data["y"] = np.where(test_data["x1"] > test_data["x2"], 1, -1)
test_data.head()

         x1        x2  y
0  0.508147  0.768572 -1
1  0.162051  0.445112 -1
2  0.911932  0.871769  1
3  0.669794  0.517376  1
4  0.035254  0.843228 -1

In [55]:
X_train = train_data[["x1","x2"]].values
y_train = train_data["y"].values
X_test = test_data[["x1","x2"]].values
y_test = test_data["y"].values

In [56]:
class Classifier(object):
  def __init__(self,alpha=0.05,n_iter=500,t="a",random_state=1):
    self.alpha = alpha
    self.n_iter = n_iter
    self.t = t
    self.random_state = random_state

  def fit(self, X, y):
    rgen = np.random.RandomState(self.random_state)
    self.w_ = rgen.normal(loc=0.0, scale=0.01, size=1+X.shape[1])
    if self.t == "a":
      for i in range(self.n_iter):
        for xi, yi in zip(X,y):
          output = self.predict(xi)
          error = yi-output
          self.w_[1:] += self.alpha * error * xi
          self.w_[0] += self.alpha * error
      return self
    elif self.t == "b":
      for i in range(self.n_iter):
        for xi, yi in zip(X,y):
          if (1-yi*self.net_input(xi)) > 0:
            self.w_[1:] += self.alpha * yi * xi
            self.w_[0] += self.alpha * yi
      return self

  def net_input(self, X):
    return np.dot(X, self.w_[1:]) + self.w_[0]

  def predict(self, X):
    return np.where(self.net_input(X) >= 0, 1, -1)

In [57]:
ppn = Classifier(t = "a")
svm = Classifier(t = "b")
ppn.fit(X_train, y_train)
svm.fit(X_train, y_train)
y_pred_ppn = ppn.predict(X_test)
y_pred_svm = svm.predict(X_test)

In [58]:
(y_test != y_pred_ppn).sum()

73

In [59]:
accuracy_score(y_test, y_pred_ppn)

0.927

In [60]:
(y_test != y_pred_svm).sum()

59

In [61]:
accuracy_score(y_test, y_pred_svm)

0.941